<!--Header-->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title class="ttl-hddr-js">Listado de secciones</ion-title>
  </ion-toolbar>
</ion-header>
<!--Body-->
<!--Lista de secciones-->
<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <!--Secciones-->
        <ion-col size-xs="12" size-sm="12" size-md="12" [routerLink]="['/opciones']">
          <ion-card>
            <ion-item>
                <ion-icon name="desktop-outline"slot="start"></ion-icon>
                <h6>Programación de apps PGY4121-000D</h6>
            </ion-item>
          </ion-card>
        </ion-col>
        <!--Secciones-->
        <ion-col size-xs="12" size-sm="12" size-md="12" [routerLink]="['/opciones']">
            <ion-card>
              <ion-item>
                  <ion-icon name="desktop-outline"slot="start"></ion-icon>
                  <h6>Calidad de software CSY4111-000D</h6>
              </ion-item>
            </ion-card>
          </ion-col>
          <!--Secciones-->
        <ion-col size-xs="12" size-sm="12" size-md="12" [routerLink]="['/opciones']">
            <ion-card>
              <ion-item>
                  <ion-icon name="desktop-outline"slot="start"></ion-icon>
                  <h6>Programación de apps PGY4121-000D</h6>
              </ion-item>
            </ion-card>
          </ion-col>
          <!--Secciones-->
          <ion-col size-xs="12" size-sm="12" size-md="12" [routerLink]="['/opciones']">
              <ion-card>
                <ion-item>
                    <ion-icon name="desktop-outline"slot="start"></ion-icon>
                    <h6>Calidad de software CSY4111-000D</h6>
                </ion-item>
              </ion-card>
            </ion-col>
            <!--Secciones-->
        <ion-col size-xs="12" size-sm="12" size-md="12" [routerLink]="['/opciones']">
            <ion-card>
              <ion-item>
                  <ion-icon name="desktop-outline"slot="start"></ion-icon>
                  <h6>Programación de apps PGY4121-000D</h6>
              </ion-item>
            </ion-card>
          </ion-col>
          <!--Secciones-->
          <ion-col size-xs="12" size-sm="12" size-md="12" [routerLink]="['/opciones']">
              <ion-card>
                <ion-item>
                    <ion-icon name="desktop-outline"slot="start"></ion-icon>
                    <h6>Calidad de software CSY4111-000D</h6>
                </ion-item>
              </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12" [routerLink]="['/opciones']">
            <ion-card>
              <ion-item>
                  <ion-icon name="desktop-outline"slot="start"></ion-icon>
                  <h6>Programación de apps PGY4121-000D</h6>
              </ion-item>
            </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="12" [routerLink]="['/opciones']">
          <ion-card>
            <ion-item>
                <ion-icon name="desktop-outline"slot="start"></ion-icon>
                <h6>Calidad de software CSY4111-000D</h6>
            </ion-item>
          </ion-card>
      </ion-col>
        <!--Fin-->
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>

<!--Footer-->
<app-pie-de-pagina></app-pie-de-pagina>
