<!--Header-->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title class="ttl-hddr-js">RegistroJs</ion-title>
  </ion-toolbar>
</ion-header><br />
<ion-content>
  <!--Card-->
  <ion-card class="crd-js">
    <!--Card Header-->
    <ion-card-header class="ttl-hdr1-js">Recuperación</ion-card-header>
    <!--Card Content-->
    <ion-card-content>
      <ion-item>
        <ion-label class="lbl-js" position="floating">Password</ion-label>
        <ion-input class="npt-js" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="lbl-js" position="floating">Repeat Password</ion-label>
        <ion-input class="npt-js" type="password"></ion-input>
      </ion-item>
      <br />
      <!--Volver al menu-->
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <!--Docente-->
            <ion-button class="btn-js" expand="block"[routerLink]="['/']"><ion-icon class="icn-js" name="save"slot="end">Confirmar</ion-icon>Confirmar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<!--Footer-->
<app-pie-de-pagina></app-pie-de-pagina>